/* @my name is Zak Lewis
@this is my own work
@I am a student as Rostrevor College
@March 2022
@this is my test solution */


/* main First CSS */
#mainBody
{
    background-color:plum;
}
h1.mainTitleAndImage
{
    text-align:center;
}
img.mainTitleAndImage
{
    width:300px;
    margin-left:50%;
    transform:translate(-50%,0px);
}


/* All Headers */
#headerOne
{
    color:red;
}
#headerTwo
{
    color:green;
}
#headerThree
{
    color:blue;
}
#headerFour
{
    color:yellow;
}
#headerFive
{
    color:black;
}
#headerSix
{
    color:black;
}
#headerSeven
{
    color:black;
}


/* Cats CSS for differing sizes */
#catImageDiv
{
    display:flex;
    gap:20px;
}
#catImageOne
{
    width:300px;
    height:300px;
}
#catImageTwo
{
    width:200px;
    height:200px;
}
#catImageThree
{
    width:100px;
    height:100px;
}


/* CSS tables */
.tableBorder
{
    border:1px black solid;
    width:200px;
    height:100px;
    text-align:center;
}
.tableBorder2
{
    border:2px black solid;
}


/* Rostrevor Building Image CSS */
#rostrevorLinkImage
{
    width:300px;
}



/* Puppy Eyes CSS for rotation and shadow */
#puppyDogEyesOne
{
    margin-left:50px;
    transform:rotate(-20deg);
    box-shadow: 5px 10px 5px gray;
}
#puppyDogEyesTwo
{
    margin-left:100px;
    transform:rotate(20deg);
    box-shadow: 5px 10px 5px gray;
}



/* CSS for all flags and their colours */
#flagRow
{
    display:flex;
    gap:20px;
}

#germanFlag
{
    display:flex;
    width:300px;
    height:150px;
    flex-direction:column;
}
#germanBlack
{
    width:300px;
    height:50px;
    background-color:black;
}
#germanYellow
{
    width:300px;
    height:50px;
    background-color:yellow;
}
#germanRed
{
    width:300px;
    height:50px;
    background-color:red;
}

#frenchFlag
{
    display:flex;
    width:300px;
    height:150px;
    flex-direction:row;
}
#frenchBlue
{
    width:100px;
    height:150px;
    background-color:blue;
}
#frenchWhite
{
    width:100px;
    height:150px;
    background-color:white;
}
#frenchRed
{
    width:100px;
    height:150px;
    background-color:red;
}

#romaniaFlag
{
    display:flex;
    width:300px;
    height:150px;
    flex-direction:row;
}
#romaniaBlue
{
    width:100px;
    height:150px;
    background-color:blue;
}
#romaniaYellow
{
    width:100px;
    height:150px;
    background-color:yellow;
}
#romaniaRed
{
    width:100px;
    height:150px;
    background-color:red;
}



/* CSS for animals and iFrames */
#animalDisplayIframe
{
    width:500px;
    height:500px;
    margin-left:50%;
    transform:translate(-50%,0);
}
#juancitoImage
{
    width:20vw;
    float:right;
    margin-top:-350px;
}
#monkeyImage
{
    width:20vw;
    float:left;
    margin-top:-350px;
}

/* CSS for Animal Selection Iframe */
#chooseAnimalBody
{
    background-color:aliceblue;
}
#questionManImage
{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* CSS for Monkey & Honkey Iframe */
.photosOfAnimals
{
    width:200px;
    height:200px;
}

#honkeyBody
{
    background-color:brown;
}

#monkeyBody
{
    background-color:limegreen;
}
